@font-face {
  font-family: 'lemonmilk';
  src: url('../assets/fonts/LemonMilkbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'lemonmilk';
  src: url('../assets/fonts/LemonMilkbolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'lemonmilk';
  src: url('../assets/fonts/LemonMilk.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lemonmilk';
  src: url('../assets/fonts/LemonMilkitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'lemonmilk';
  src: url('../assets/fonts/LemonMilklight.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'lemonmilk';
  src: url('../assets/fonts/LemonMilklightitalic.woff') format('woff');
  font-weight: lighter;
  font-style: italic;
}